//****************************LOADING************************************
@keyframes load {
  to {
    transform: rotate(1turn);
  }
}
.loader {
  width: 120px;
  padding: 15px;
  background: $primary-color;
  aspect-ratio: 1;
  border-radius: 50%;
  --_m: conic-gradient(#0000, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  box-sizing: border-box;
  animation: load 3s linear infinite;
}

@keyframes stopload {
  100% {
    z-index: -10;
    opacity: 0;
  }
}
.loader-container {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: stopload 0.01s;
  animation-delay: 4s;
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
//********** Fin Loading **********************

//********** Anim entrance *********
@keyframes anim-menu {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@each $i, $name in (0: "entrance", 1: "dishies", 2: "desserts") {
  .anim-#{$name} {
    animation: anim-menu $anim-menu-duration ease-in-out both;
    animation-delay: $i * $anim-menu-delay;
  }
}
