// Couleur  site
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

// Couleur section serch
$bg-location: #eaeaea;

//Couleur de principale couleur de fond
$bg-primary-color: #f6f6f6;

// footer
$bg-footer-color: #353535;

// badge
$bg-badge-color: #99e2d0;
